<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Shortner - {% block title %}Shortner{% endblock %}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/main.css?v='~date().timestamp) }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            {% block header %}
                {% include 'templates/layout/header.twig' %}
            {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'templates/layout/footer.twig' %}
        {% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('assets/jsdist/app.js?v='~date().timestamp) }}"></script>
    {% endblock %}
</body>
</html>
