<div class="row">
    {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
    <div class="form-group col-12">
        {{ form_label(form.url) }}
        {{ form_errors(form.url) }}
        {{ form_widget(form.url,{'attr':{'class':'form-control'} }) }}
    </div>
    <div class="form-group col-12">
        <input type="submit" value="Dodaj"
               class="btn btn-default pull-right" />
    </div>
    {{ form_end(form) }}
</div>